<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.live.test" >

    <application
        android:name="App"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.StaggeredGridActivity" />
        <activity android:name=".activity.GreenDaoActivity" />
        <activity android:name=".activity.HttpApiActivity" />
        <activity android:name=".activity.RvPagerActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.TestUIActivity" />
        <activity android:name=".activity.RvPagerActivityV2" />
        <activity android:name=".activity.SkinSupportActivity" />
        <activity android:name=".activity.ObjectAnimatorActivity" />
        <activity android:name=".activity.KtTestActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.SeekbarProgressActivity" />
        <activity android:name=".activity.ShapeDrawableActivity" />
        <activity android:name=".activity.SkillActivity" />
        <activity android:name=".activity.RotateActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ExpandTextViewActivity" />
        <activity android:name=".activity.MeasureActivity" />
        <activity android:name=".activity.PullToRefreshActivity" />
    </application>
</manifest>
